<h1>BIENVENIDO!</h1>
<h2>Hola, soy la Pagina de Index</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, maiores distinctio porro, numquam corrupti fugiat molestiae architecto hic quis, accusantium reprehenderit vitae enim fuga animi quasi ipsam magnam dolorum id.</p>
